version: '3.8'

services:
  # Database Service
  db:
    image: mysql:8.0
    container_name: banking_db
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./DB/Scripts:/docker-entrypoint-initdb.d
    networks:
      - banking_network

  # API Service
  api:
    build: ./API
    container_name: banking_api
    restart: always
    depends_on:
      - db
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      DB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_HOST: ${DB_HOST}
    command: ["python", "/app/handler/app.py"]
    networks:
      - banking_network

  # Frontend Service
  frontend:
    build: ./frontend
    container_name: banking_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - banking_network

networks:
  banking_network:
    driver: bridge

volumes:
  db_data:
