version: '3.8'

services:
  db_container_test:
    build: .
    container_name: db_container_test
    restart: "no"
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE
    ports:
      - "3307:3306"
    volumes:
      - ./Scripts:/docker-entrypoint-initdb.d  # Auto-run SQL scripts on fresh init
    tmpfs:
      - /var/lib/mysql  
    networks:
      - banking_network                  # Ephemeral MySQL data (cleared on stop)

networks:
  banking_network:
    name: banking_network
    external: true
