version: '3.8'

services:
  flask-app:
    build: .
    container_name: api_container_test
    restart: "no"
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - DB_ROOT_PASSWORD
      - DB_USER
      - DB_PASSWORD
      - DB_NAME
      - DB_HOST
    command: ["/entrypoint.sh"]
    networks:
      - banking_network

networks:
  banking_network:
    name: banking_network
    external: true

volumes:
  mysql_data:
